@font-face {
  font-family: "GodgerDisco-Regular";
  src: url("fonts/GodgerDisco-Regular.otf");
}

body h2 {
  font-family: "GodgerDisco-Regular";
  font-size: 2.8rem;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  font-size: 1rem;
  background-color: antiquewhite;
  color: black;
  width: 1rem;
  height: auto;

  .form-container {
    display: flex;
    flex-direction: column; /* Label über Input */
    gap: 8px;
    text-align: center;
  }

  input {
    margin-bottom: 1rem;
    line-height: 1rem;
  }

  button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgb(188, 188, 243);
  }
  #ausgabe {
    font-size: 1rem;
    color: blue;
  }
}
